<div class="container-flex containerPagina">
    <div class="row w-100 mb-4">
        <div class="col-auto me-auto">
            <h1 class="tituloPagina">Perfil de empleado</h1>
        </div>
   </div>

    <form class="fullAltura">
        <div class="m-3 row d-flex justify-content-between">
            <div class="col col-4 ms-4">
                <label for="name" class="col-form-label">Nombre</label>
                <p style="font-size: 1.3em;"> <strong>Osmar</strong></p>
                <!-- <input type="text" id="name" class="form-control"> -->
                
                <label for="lastname" class="col-form-label">Apellido</label>
                <p style="font-size: 1.3em;"><strong>Rodríguez Alonso</strong></p>
                <!-- <input type="text" id="lastname" class="form-control"> -->

                <label for="address" class="col-form-label">Direccion</label>
                <p style="font-size: 1.3em;"><strong>Callle Invent San Antonio Custodio, 24, puerta 6</strong></p>
                <!-- <input type="text" id="address" class="form-control"> -->

                <label for="username" class="col-form-label">Nombre de Usuario</label>
                <p style="font-size: 1.3em;"> <strong>osro20</strong></p>
                <!-- <input type="text" id="username" class="form-control"> -->
    
            </div>
            <div class="col col-4 me-4">
                <div class="">
                    <label for="dni" class="col-form-label">DNI</label>
                    <p style="font-size: 1.3em;"><strong>20000000C</strong></p>
                <!-- <input type="text" id="dni" class="form-control">   -->
                </div>
                
                <label for="phone" class="col-form-label">Telefono</label>
                <p style="font-size: 1.3em;"><strong>999 999 999</strong></p>
                <!-- <input type="text" id="phone" class="form-control"> -->

                <label for="email" class="col-form-label">Correo</label> 
                <p style="font-size: 1.3em;"><strong>unnombreficticio&#64;gtumadre.com</strong></p>               
                <!-- <input type="text" id="email" class="form-control"> -->
        

                <label for="pswd" class="col-form-label">Contraseña</label>
                <p style="font-size: 1.3em;"><strong>********</strong></p>
            <!-- <input type="password" id="pswd" class="form-control"> -->
            </div>
        </div>
        <div class="m-3 row justify-content-end mb-auto">
            <div class="col col-4">
                <button class="btn botonNaranja-outline botonModificar-finalizar">Modificar</button>
            </div>
        </div>
    <div class="row mt-auto">
        <div class="col mt-5 mx-4">
            <button class="btn botonNaranja-outline botonModificar-finalizar">Dar de baja</button>
        </div>
    </div>
    </form>
</div>
